* {   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #616161;
}

nav {
    padding: 20px 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    
}

.nav-list-item {
    display: inline-block;
    padding: 16px 32px;
}

.nav-list-item a {
    text-decoration: none;
    color: #616161;
    font-size: 20px;
    font-weight: 200;
}

.nav-list-item a:hover {
    text-decoration: underline;
    color: #212121;
}

.nav-inner-list {
    display: none;
}

.nav-inner-list-item {
    
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.header-section {
    background-color: #d4c2f4;
}

.container {
    max-width: 1400px;
    padding: 0 40px;
    margin: auto;
}

#footer-container {
    height: 100px;
    padding: 45px 0;
}

.section-header-wrapper {
    max-width: 720px;
}

.header-outer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 80vh;
}

.header-text-wrapper {
    flex: 1 0 auto;
    width: 48%;
}

.header-img-wrapper {
    flex: 1 1 auto;
    padding-left: 100px;
    max-width: 540px;
    max-height: 100%;
}

.header-img-wrapper img {
    max-width: 100%;
}

.button-wrapper {
    margin-top: 60px;
}

.flex-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
}

.article-text-wrapper {
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 600px;
    padding-right: 60px;
}

.article-img-wrapper {
    width: 320px;
    flex-shrink: 0;
}

.article-img {

}

.cursus-section {
    background-color: #aae3bc;
}

.quiz-section {
    margin: 75px;

}

.footer-class {
    background-color: #f4c2e2;
    margin-top: 275px;

}

.box {
    float: left;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 15px;
    color: black;
    font-size: 10px;
}

#box1 {
    background-color: #c2caf4;
}

#box2 {
    background-color: #f4d4c2;
}
.table-html {
    margin: 300px;
    table-layout: fixed;
    width: 2000px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}
.html-1 {
    width: 400px;
}
.html-2 {
    width: 150px;
}
.section-html {
    margin-left: 300px;
}
.box3 .box4 .box5 {
    display: flex;
    align-items: stretch;
}
th {
    background-color: lightgreen;
    padding: 10px;
}
td {
    background-color: lightgrey;
    padding: 10px;
}
.headers {
    margin-left: 300px; 
}

/*styling for text*/
h1,h2,h3,button {
    font-weight: 600;
    color: #212121;
}
.header-one {

    border-top: 5px black solid;
    padding: 12px;
    border-bottom: 5px black solid;
    border-radius: 9px;
    border-left: 5px black solid;
    border-right: 5px black solid;
}
.header-one-html {
    padding: 12px;
    width: 75%;
}
h1 {
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 60px;
   }

h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 28px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.paragraph-large {
    font-size: 28px;
    line-height: 36px;
}
.paragraph-large-html {
    width: 70%;
}

button {
    padding: 12px 30px;
    background: #e2f4c2;
    color: black;
    border: 0px;
    border-style: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background: #92c53d;
    color: white;
}

.button-2 {
    background: white;
    color: #212121;
}

.button-3 {
    background: white;
    color: black;
    border: 0px;
    border-style: none;
    border-radius: 0px;
    font-size: 18px;
    cursor: pointer;
   }

.logo-first {
    display: block;
    font-size: 24px;
    font-weight: 800;
    color: #00C853;
}

.logo-second {
    font-size: 18px;
    font-weight: 200;
}

@media screen and (max-width: 769px) {
    h1 {
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 40px;
    }
    .paragraph-large {
        font-size: 20px;
        line-height: 30px;


    }
    .header-img-wrapper {
        flex: 1 1 auto;
        padding-left: 100px;
        max-width: 540px;
        max-height: 100%;
    }

}